parameters:
	level: 5
	paths:
		- await-generator/src
	ignoreErrors:
		-
			message: "#^Access to an undefined property Throwable::\\$_AwaitGenerator_#"
			count: 1
			path: await-generator/src/SOFe/AwaitGenerator/Await.php
