<phpunit
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.3/phpunit.xsd"
		bootstrap="tests/autoload.php"
		processIsolation="false"
		enforceTimeLimit="true">
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">await-generator</directory>
		</whitelist>
	</filter>
	<testsuite name="Await">
		<directory>tests/SOFe/AwaitGenerator</directory>
	</testsuite>
</phpunit>
